<%= simple_form_for [@need, Service.new] do |f| %>
  <div class="submit-line mt-2 justify-content-around" data-controller="form">
    <%= f.button :submit, "HELP OUT", data: { target: "form.submitLink", needuser: @need.user.first_name }, class: "p-0 d-none" %>
    <span class="fas fa-hands-helping" data-action="click->form#confirmHelp"></span>
  </div>
<% end %>
