.need-form {
  opacity: 0.9;
  label {
    font-size: 0.8rem;
    font-weight: bolder;
  }
  input, textarea {
    border-top: 0;
    border-right: 0;
    outline: none !important;
    border-left: 0;
  }
  input, select, textarea {
    background-color: transparent !important;
    // border-radius: 5px;
  }
  .form-control:focus {
    box-shadow: none;
    outline: none;
    border-color: #ced4da;
  }
  select option {
    color: black !important;
  }
  ::placeholder {
    // color: black;
    opacity: 0.8;
  }
  :-ms-input-placeholder {
    // color: black;
    opacity: 0.8;
    font-weight: bolder;
  }

  ::-ms-input-placeholder {
    // color: black;
    opacity: 0.8;
    font-weight: bolder;
  }
}

.need-form-input {
  background-color: transparent !important;
  color: black !important;
}

.center-form {
  min-height: calc(100vh - 55px);
}

.submit-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  input {
    font-weight: bolder;
  }
  span {
    background-color: black;
    color: white;
    font-size: 2rem;
    opacity: 0.9;
    padding: 1.5rem;
    border-radius: 50%;
  }
}
