.need-form {
  // background-color: white;
  opacity: 0.9;
  // border-radius: 20px;
  // color: black;
  label {
    font-size: 0.8rem;
    font-weight: bolder;
  }
  input, select, textarea {
    background-color: transparent !important;
    border-radius: 5px;
  }
  select option {
    color: white !important;
  }
  ::placeholder {
    // color: black;
    opacity: 0.8;
  }
  :-ms-input-placeholder {
    // color: black;
    opacity: 0.8;
    font-weight: bolder;
  }

  ::-ms-input-placeholder {
    // color: black;
    opacity: 0.8;
    font-weight: bolder;
  }
}

.need-form-input {
  background-color: transparent !important;
  color: black !important;
}

.center-form {
  min-height: calc(100vh - 55px);
}