<% if @need.user.photo.attached? %>
  <%= cl_image_tag @need.user.photo.key, class: "avatar-big avatar-show" %>
<% else %>
  <i class="big fas fa-user-circle"></i>
<% end %>
<h4 class="font-weight-bolder mt-2"><%= @need.name.upcase %></h4>