<div class="container">
  <div class="row">
    <div class="col-12">
      <% if @needs.any? %>
        <p class="title"><strong>SERVICES</strong></p>
        <% @needs.each do |need| %>
          <p><strong><%= need.name %></strong></p>
        <% end %>	
      <% end %>
    </div>
    <p class="title"><strong>NEED HELP?</strong></p>
    <div class="col-12 text-center">
      <%= link_to "ADD ONE 👌", new_need_path, class: "btn-morello" %>
    </div>
  </div>
</div>

