<div class="container">
  <div class="row">
    <% if @needs.any? %>
      <% @needs.each do |need| %>
        <div class="col-10 offset-1">
          <div class="card-new mt-3 mb-3">
            <div class="card-new-top d-flex align-items-center justify-content-between p-3">
              <div class="top-left d-flex align-items-center">
                <div class="avatar-box">
                  <%= cl_image_tag need.user.photo.key, class: "avatar" %>
                </div>
                <div class="top-left-info ml-2">
                  <p class="top-left-section">PIANO DAILY</p>
                  <p class="top-left-date">Today</p>
                </div>
              </div>
              <div class="top-right">
                <i class="fas fa-arrow-right"></i>
              </div>
            </div>
            <div class="card-new-middle text-center mt-3">
              <h3>Cinematic Piano</h3>
              <div class="middle-infos d-flex justify-content-around mt-3">
                <div></div>
                <div class="d-flex">
                  <p><i class="fas fa-eye"></i>9,543</p>
                  <p>-</p>
                  <p><i class="fas fa-hourglass-half"></i>5h 35m</p>
                </div>
                <div></div>
              </div>
            </div>
            <div class="card-new-bottom text-center d-flex align-items-center">
                <i class="fas fa-thumbs-up"></i>
                <div class="big-i">
                  <i class="fas fa-trophy big"></i>
                </div>
                <i class="fas fa-thumbs-down"></i>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
