<div class="container">
  <div class="row center-form align-items-center">
    <div class="col-10 offset-1 col-md-6 offset-md-3 text-center font-weight-bolder mt-3 mb-3">
      <% if @need.services.empty? %>
        <%= render "no_service" %>
      <% elsif @service.in_progress? %>
        <%= render "in_progress" %>
      <% elsif @service.reimbursement? %>
        <%= render "reimbursement" %>
      <% elsif @service.done? %>
        <%= render "done" %>
      <% end %>
    </div>
  </div>
</div>