.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.home-page {
  height: calc(100vh - 55px);
  position: relative;
}

.home-svg {
  position: absolute;
  bottom: 0;
  h1 {
    font-size: 2em;
  }
  img {
    width: 100%;
  }
}

.btn-morello {
  text-decoration: none;
  color: white;
  background-color: #4676C8;
  box-shadow: 1px 1px rgba(0,0,0, 0.3);
  padding: 10px 25px;
  border-radius: 5px;
}

#list-home {
  list-style: none;
  margin-bottom: 3rem;
  margin-top: 1rem;
  padding: 0;
}

.svg-home-list {
  width: 50px;
}

.navbar {
  opacity: 0.9;
  background-color: black;
  color: white;
  border-radius: 0px 0px 20px 20px;
  .navbar-toggler {
    outline: none;
  }
}

.hamburger {
  background-color: transparent;
  border: none;
  outline: none !important;
  i {
    color: white;
  }
}

.navbar-white {
  color: white !important;
  font-size: 0.8rem;
}
